{{#each blogs as |blog|}}

<div class="row defaultRowClass">

  <div class="container-fluid blogPreview">
    <div class="row">
      <div class="col-md-9">
        <h2>
          <a href="/blog/{{blog.id}}">{{blog.title}}</a>
        </h2>
      </div>

      <div class="col-md-3">
        <p>Created by {{blog.user.username}} on {{ format_date blog.date_created }}</p>
      </div>
    </div>
  </div>

</div>

{{/each}}