<div class="defaultClass" >
  <div>
    <h2 class="login">Login</h2>
    <form class="logForm">
      <div>
        <input type="text" placeholder="Username" id="userLog" />
      </div>
      <div>
        <input type="password" placeholder="Password" id="passLog" />
      </div>
      <div>
        <button id='logBtn' class="btn btn-primary" type="submit">Login</button>
      </div>
      <div>
        <a href="/signUp">Sign Up Instead</a>
      </div>
    </form>
  </div>
</div>

<script src="./javascripts/login.js"></script>