<div class="defaultClass">
  <div>
    <h2 class="signup">Signup</h2>
    <form class="signForm">
      <div>
        <input type="text" placeholder="Username" id="userSign" />
      </div>
      <div>
        <input type="password" placeholder="Password" id="passSign" />
      </div>
      <div>
        <button class="btn btn-primary" type="submit">Signup</button>
      </div>
      <div>
        <a href="/login">Login Instead</a>
      </div>
    </form>
  </div>
</div>

<script src="./javascripts/signup.js"></script>