.M {
    /*border: 2px solid red;*/
    display: flex;
    height: 60px;
    background-color: blue;
}

.M-L {
    list-style: none;
    display: inline-flex;
    align-items: center;
}

.M-L-I {
    margin: 0px 10px;
    
    
}

.M-L-I-A {
    text-decoration: none;
    color: white;
}


.defaultClass {
    border: 2px solid black;
    margin-top: 5px;
    padding: 5px;
    
}

.defaultRowClass {
    margin-top: 5px;
    padding: 5px;
    margin-right: 20px;
    
}

/* home.handlebars*/
.blogPreview {
    border: 2px solid black;
    margin-top: 5px;
    padding: 5px;
}


/* dashboard.handlebars*/
#subUp {
    display: none;
}

#blogContent {
    height: 80px;
}


/* blog.handlebars*/
.blogData {
    border: 2px solid black;
    margin-top: 5px;
    padding: 5px;
}


.commentBox {
    border: 2px solid black;
    margin-top: 5px;
    padding: 5px;
}


#upCom {
    display: none;
}
